.search {
  margin: 10px auto 30px auto;
  border-radius: 10px;
  border: 1px solid white;
  width: fit-content;
  display: flex;
  padding: 5px;
  justify-content: flex-end;
  height: 25px;
}

.input {
  background-color: transparent;
  border: none;
  color: white;
  padding: 1px 2px;
}

.input::placeholder {
  color: white;
}

.input:focus {
  outline: none;
}

.btnSearch {
  border-radius: 10px;
  border: 1px solid white;
}

.btnSearch:hover {
  background-color: rgb(62, 62, 62);
  color: white;
}